@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */

}
.sidebar{
    background-color: rgb(180, 179, 179);
    width: 400px;
    font-family: 'Roboto Slab', serif;
    height: 100vh;
}
.sidebar nav{
    padding: 40px;
   

}
.sidebar nav li{
    list-style: none;
    font-size: 20px;
     padding: 29px 0px;

}
.sidebar nav li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
     padding: 29px 0px;

}

.main{
    /* background-color: rgb(233, 233, 147); */
    width: 90vw;
}
.container{
    display: flex;
}
.InFoContainer{
    /* background-color: pink; */
    height: 65vh;
    width: 80vw;
    margin: auto;
    /* margin-top: 140px; */
    margin: 23px 0px;
    display: flex;
    justify-content: space-around;
        
}
.devInfo{
    display: flex;
   justify-content: center;
   flex-direction: column;
   font-family: 'Roboto Slab', serif;

}
.Hello{
    font-size: 45px;

}
.Name{
    font-size: 30px;

}
.About{
    font-size: 20px;

}
.Button{
    margin-top: 20px;

}

.footercontainer{

  /* background-color: yellow; */
  height: 20px;
  padding: 30px;
  margin: 100px 20px;

}
.Button button{
    background-color: rgb(112, 230, 230);
    border-radius: 15px;
    padding: 3px 5px;
    /* font-family: 'Roboto Slab', serif */
    font-size: 12px;
    cursor: pointer;
    
}
.Button button:hover{
    background-color: white;
    color: black;
}
.devPic img{
    height: 65vh;

}
.ContactForm{
        font-family: 'Roboto Slab', serif
   
}
.ContactForm h1{
   text-align: center;

}
.ContactForm form div{
   padding: 30px;
   font-size: 30px;
   
 
 }




h1{
    padding: 20px;
}
.btn{
    background-color: rgb(112, 230, 230);
    border-radius: 10px;
    padding: 10px px;
    margin-left: 5px;
    /* font-family: 'Roboto Slab', serif */
    font-size: 12px;
    cursor: pointer;
    
}
.btn:hover{
    background-color: white;
    color: black;
}
.bolgitem{
    padding: 20px;
    margin: 20px;
    font-family: 'Roboto Slab', serif
}
.bolgitem h2{

}
.skill{
    width: 100%;
    height: 8px;
    background-color: rgb(235, 134, 134);
    border: 2px solid black;
}
.skillitem{
    display: flex;
    align-items: center;
    
}
.t1{
    width: 965px;
}
.t2{
    width: 865px;
}
.t3{
    width: 665px;
}
.t4{
    width: 465px;
}
.t5{
    width: 234px;
}
.t6{
    width: 265px;
   
}






